@import url(‘https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap’);

$side-padding:(
    "mobile": .75rem,
    "ipad":.5rem,
    "desktop":6rem
);

$colors:(
    "blue":#3c48df, //Button, links
    "gray":#eef0f1, //Background
    "dark-gray":#d2d6db, //Button, footer
    "very-dark-gray":#b5bdc4, //Hover button
    "darkest-gray": #64707d,
);

@each $name, $color in $colors{
    .color-#{$name}{
        color: $color;
    }
    .bg-#{$name}{
        background-color: $color;
    }
}

@mixin button-style($color, $radio, $bg-color) {
    color: $color;
    border-radius: $radio;
    background-color: $bg-color;
}

header{
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid black;
    .header-logo{
        .burger{
            height: 24px;
            margin: 0 .75rem;
        }
        a{
            height: 40px;
            width: 50px;
            .logo{
                height: 40px;
                width: 50px;
                margin: 0;
                // background-color: black;

            }
        }
    }
    .header-right{
        a{
            
            img{
                height: 24px;
                margin: 0 .75rem;
            }
        }

        .dropdown{ 
            button{
                width: 32px;
                height: 32px;
                margin: 0 .75rem;
                border: none;
                background-image: url("../img/logged-in-avatar.webp");
                background-size: contain;
                &::after{
                    display: none;
                }
        }
        }
    }
}

main{
    margin-top: 56px;
}

footer{

}

@media only screen and (min-width:768px){
    header{

    }
    main{

    }

    footer{

    }
}

// -lg
@media only screen and (min-width:992px){
    header{

    }
    main{

    }

    footer{

    }
}