@import url(‘https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap’);

$side-padding:(
    "mobile": .75rem, 
    "ipad":.5rem, // md
    "desktop":1rem //xl
);

$colors:(
    "blue":#3c48df, //Button, links
    "gray":#eef0f1, //Background
    "dark-gray":#d2d6db, //Button, footer
    "very-dark-gray":#b5bdc4, //Hover button
    "darkest-gray": #64707d,
    "pink": #ffc0cb,
    "salmon":#ffd5c0,
    "purple": #d5c0ff,
    "black": #08090a,
);

@each $name, $color in $colors{
    .color-#{$name}{
        color: $color;
    }
    .bg-#{$name}{
        background-color: $color;
    }
}

@mixin button-style($color, $radio, $bg-color) {
    color: $color;
    border-radius: $radio;
    background-color: $bg-color;
}

// Classes for nav menu //
.aside-menu-item{
    display: block;
    padding: .5rem;
    color: black;
    &:hover{
        color: #323ebe;
        text-decoration: none;
        }
        img{
            margin-right: .5rem;
    }

}
.aside-social{
    margin-top: 1rem;
    padding: 1rem;
    a img{
        filter: grayscale(1);
    }
}
///////////////////////////


.header-fluid{
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #64707d47;
    padding: 0 map-get($side-padding, "mobile");
    box-sizing: border-box;
    header{
        height: 100%;
        width: 100%;
        max-width: 1280px;
        padding: 0 map-get($side-padding, "mobile");
        box-sizing: border-box;
        .header-logo{
            .burger-dropdown{
                .burger-button{
                    margin: 0 .75rem 0 .25rem ;
                    height: 24px;
                    background-image: url("../img/burger-icon.svg");
                    background-repeat: no-repeat;
                    &::after{
                        display: none;
                    }
                }
                .burger-menu{
                    border-radius: 0;
                    position:fixed !important;
                    transform:none !important;
                    margin: 0;
                    padding: 0;
                    width: 85vw;
                    height: 100vh;
                    top:0px;
                    left: 0px;
                    .burger-menu-header{
                        height: 55px;
                        img{
                            height: 24px;
                        }
                    }
                    hr{
                        margin: 0;
                    }
                    .main-links a{
                        margin: .5rem 1.25rem;
                    }
                }
            }
    
            a{
                height: 40px;
                width: 50px;
                .logo{
                    height: 40px;
                    width: 50px;
                    margin: 0;
                }
            }
        }
        .search-bar{
            max-width:420px;
            background-color:#f9fafa;
            border-color: map-get($colors, "darkest-gray");
        }
        .header-right{
            a{
                
                img{
                    height: 24px;
                    margin: 0 .75rem;
                }
            }
    
            .dropdown{ 
                button{
                    width: 32px;
                    height: 32px;
                    margin-left: .75rem ;
                    border: none;
                    background-image: url("../img/logged-in-avatar.webp");
                    background-size: contain;
                    &::after{
                        display: none;
                    }
                }
                .dropdown-menu{
                    width: 345px;
                    margin-top: .75rem;
                    margin-right: .75rem;
                    box-shadow: 3px 3px 0px 4px;
                    h6{
                        margin: 0;
                    }
                    hr{
                        margin:.375rem 0;
                    }
                    a{
                        padding:.75rem;
                    }
                    small{
                        font-size: 14px;
                    }
                } 
            }
        }
    }
}


.main-fluid{
    margin-top: 56px;
    padding:map-get($side-padding, "mobile" );
    width: 100vw;
    box-sizing: border-box;
    .main-inner{
        margin:0;
        max-width: 1280px;
        .my-tags{
            margin-top: 1.5rem;
            padding: .5rem;
            align-items: center;
            h3{
                font-size: 1rem;
                font-weight: bold;
                margin: 0;
            }
        }

    }
}

.main-post{
    margin-top: 56px;
    .interactions-container{
        position: fixed;
        bottom:0;
        left: 0;
        z-index: 1;
        justify-content: space-evenly;
        background-color: white;
    }
}




footer{
    padding: 1.25rem;
    width: 100vw;
    box-sizing: border-box;
    .footer-inner{
        max-width: 768px;
        margin:auto;
        text-align: center;
        a{
            color: black;
            &:hover{
                color: #323ebe;
                text-decoration: none;
            }
        }

        .site-links{
            text-align: center;
            a{  
                padding: .5rem;
                display: inline-block;
                &:last-child{
                    font-weight: bold;
                }
            }
        }
        .social{
            margin-top: 1rem;
            text-align: center;
            a{
                margin: 0 .5rem;
            }
        }
        hr{
            width: 20%;
            margin: .5rem auto;
        }
        p{
            font-size: 14px;
            text-align: center;
            color: map-get($colors, "darkest-gray");
            a{
                font-weight: bold;
            }
            &:nth-of-type(2){
                margin: 0;
            }
        }    
    }


}

// -md
@media only screen and (min-width:768px){
    header{

    }
    .main-post{
        margin-top: 58px;
        div{
            .interactions-container{
            height: 295px;
            width: 64px;
            justify-content: space-evenly;
            align-items: center;
            position: sticky;
            top: 80px;
                a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: map-get($colors , "darkest-gray" )
                }
            }
            .author-aside{
                position: sticky;
                top:56px;
            }
        }
    }

    footer{
    }
}

// -xl
@media only screen and (min-width:1200px){
    header{

    }
    main{
        
    }

    footer{

    }
}



.gris{
    background-color: #d2d6db;
    color:black;
    border:none;
}

.ggris{
    background-color: #EEF0F1;
}

.hhh{
    height:5rem;
}

.news{
    font-size: 20px;
}

.new-blue{
    background-color: #3B49DF;
    color:white;
    font-size: 10px;
    height: 21.5px;
    width: 30px;
    text-align:center;
    border-radius: 5px;
}

.nav-format{
    font-size: 16px;
    padding: 0 0.7rem;
    height: 30px;
    color:black;
    &:hover{
        background-color: #E3E6F0;
        color:#27308B;
    }
    &:visited{
        background-color: red;
    }
}
