<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Dev post view</title>
</head>
<body>
    <!--header-->
    <header class="d-flex align-items-center px-md-2 px-xl-3 bg-white">
        <div class="header-logo">
            <img class="burger d-md-none" src="../img/burger-icon.svg" alt="">
            <a href=""><svg width="50" height="40" viewBox="0 0 50 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="50" height="40" rx="3" style="fill: black;"></rect><path d="M19.099 23.508c0 1.31-.423 2.388-1.27 3.234-.838.839-1.942 1.258-3.312 1.258h-4.403V12.277h4.492c1.31 0 2.385.423 3.224 1.27.846.838 1.269 1.912 1.269 3.223v6.738zm-2.808 0V16.77c0-.562-.187-.981-.562-1.258-.374-.285-.748-.427-1.122-.427h-1.685v10.107h1.684c.375 0 .75-.138 1.123-.415.375-.285.562-.708.562-1.27zM28.185 28h-5.896c-.562 0-1.03-.187-1.404-.561-.375-.375-.562-.843-.562-1.404V14.243c0-.562.187-1.03.562-1.404.374-.375.842-.562 1.404-.562h5.896v2.808H23.13v3.65h3.088v2.808h-3.088v3.65h5.054V28zm7.12 0c-.936 0-1.684-.655-2.246-1.965l-3.65-13.758h3.089l2.807 10.804 2.808-10.804H41.2l-3.65 13.758C36.99 27.345 36.241 28 35.305 28z" style="fill: white;"></path></svg></a>
        </div>
        <input type="text" class="form-control d-none d-md-inline mx-3 search-bar" placeholder="Search...">
        <nav class="header-right d-flex align-items-center ml-auto">
            <button type="button" class="btn btn-primary bg-blue text-white border-0 text-nowrap d-none d-md-inline mr-2">Create Post</button>

            <a class="d-md-none" href=""><img src="../img/search-icon.svg" alt=""></a>
            <a href=""><img src="../img/connect-icon.svg" alt=""></a>
            <a href=""><img src="../img/notification-icon.svg" alt=""></a>
            <!-- <a href=""><img class="rounded-circle avatar" src="../img/logged-in-avatar.webp" alt=""></a> -->
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle rounded-circle mr-md-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>

        </nav>
    </header>
    <!--main-->
    <main class="container">
        <!--left div-->
        <div class="interactions-container">
            left div fixed images links heart
        </div>
        <div class="row">
            <!--section-->
            <section class="col-12 col-md-12 col-lg-9">
                <article class="post-section">
                    <img class="w-100" src="../img/minimal-cover-post.webp" alt="post-pic">
                    <h1>
                        Minimal Cover
                    </h1>
                    <div class="languages-hashtags">
                        <span class="bg-pink rounded">#database</span>
                        <span class="bg-salmon rounded">#computerscience</span>
                        <span class="bg-purple rounded" >#helpme</span>
                    </div>
                    <div class="post-info d-flex">
                        <img class="poster-pfp w-25 h-25 rounded-circle" src="../img/poster-pfp.jpeg" alt="heba">
                        <span><b>hebaShakeel</b></span>
                        <p class="card-text"><small class="text-muted">13 jun. ·1 min read</small></p>
                    </div>
                    <p>
                        A minimal cover is a simplified and reduced version of the given set of functional dependencies.
                        Since it is a reduced version, it is also called as Irreducible set.
                        It is also called as Canonical Cover.
                    </p>
                </article>
                <article class="discussion-section">
                    <div class="discussion-title-button">
                        <h2></h2>
                        <button></button>
                    </div>
                    <div class="discussion-comment-box">
                        <img src="" alt="">
                        <div class="input-group">
                            <textarea class="form-control" placeholder="Add to the discussion"></textarea>
                        </div>
                        <div class="discussion-toolbar">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                        </div>
                        <div>
                            <button></button>
                            <button></button>
                        </div>
                    </div>
                    <div class="comment-box row">
                        <div class="pfp-collapse-images">
                            <img src="" alt="">
                            <img src="" alt="">
                        </div>
                        <div class="comment-info">
                            <div>
                                <p class=""></p>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="readnext-section">

                </article>
            </section>
            <!--right aside-->
            <aside class="col-12 col-md-12 col-lg-3">
                <div class="author-info">

                </div>
                <div class="trending-box">

                </div>
            </aside>        
        </div>
    </main>
    <!--footer--> 
    <footer class="footer-fluid bg-dark-gray p-md-5">
        <div class="footer-inner">
            <nav>
                <div class="site-links">
                    <a href="">Home</a>
                    <a href="">Reading List</a>
                    <a href="">Listings</a>
                    <a href="">Podcasts</a>
                    <a href="">Videos</a>
                    <a href="">Tags</a>
                    <a href="">Code of Conduct</a>
                    <a href="">FAQ</a>
                    <a href="">DEV Shop</a>
                    <a href="">Sponsors</a>
                    <a href="">About</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Terms of use</a>
                    <a href="">Contact</a>
                    <a href="">Create Post</a>
                </div>
                <div class="social">
                    <a href=""><img src="../img/twitter.svg" alt=""></a>
                    <a href=""><img src="../img/facebook.svg" alt=""></a>
                    <a href=""><img src="../img/github.svg" alt=""></a>
                    <a href=""><img src="../img/instagram.svg" alt=""></a>
                    <a href=""><img src="../img/twitch.svg" alt=""></a>
                </div>
            </nav>
            <hr>
            <p><a href="">DEV Community</a> – A constructive and inclusive social network for software developers. With you every step of your journey.</p>
            <p>Built on <a href="">Forem</a> — the <a href="">open source</a> software that powers <a href="">DEV</a> and other inclusive communities.</p>
            <p>Made with love and <a href="">Ruby on Rails.</a> DEV Community © 2016 - 2021.</p>
            <img src="../img/forem-plant-icon.svg" alt="">
        </div>    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>